body{
    margin-top: 100px;
}
.termsFont{
    font-size: 16px;
    color: white;
}
a {
    text-decoration: none;
}
li{
    list-style: none;
}
a:hover {
    color: #3278B5;
    text-decoration: none;
}
/*couleur lien proposition page details*/
#proposition{
    float: right;
    color: #3278B5;
}
#proposition:hover{
    color: #C8C8C8;
}

/*Panel tabs pour toutes les pages*/
.panel-tabs {
    position: relative;
    bottom: 30px;
    clear:both;
    border-bottom: 1px solid transparent;
}

#returnOnTop {
    background: url('../img/return_on_top.png') no-repeat;
    bottom: 1%;
    cursor: pointer;
    display: none;
    filter: alpha(opacity = 50);
    height: 48px;
    opacity: 0.5;
    position: fixed;
    right: 1%;
    width: 48px;
    z-index: 1;
}